/.idea

/.vagrant/machines/default
/index.html

/bower_components/
/node_modules/

/web/assets/
/app/sessions/
!/app/tmp/image_cache/.gitkeep
/app/tmp/*

/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
