{% extends 'base.html.twig' %}

{% block body %}
    {% for flashMessage in app.session.flashbag.get('try-to-auth') %}
        <div class="g-row">
            <div class="g-12">
                <div class="f-message"> {{ flashMessage }} </div>
            </div>
        </div>
    {% endfor %}
    <div class="g-row">
        <div class="g-12" style="text-align: center">
            <a
                    class="f-bu f-bu-default"
                    href="https://api.instagram.com/oauth/authorize/?client_id={{ client_id }}&redirect_uri={{ redirect_uri }}&response_type=code">
                Login with instagram
            </a>
        </div>
    </div>
{% endblock %}
